# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\selenium_workspace\Selenium first project\ZeroBank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
